.controller.fight-stick {
	background: url(https://i.imgur.com/aGyiyRa.png) center no-repeat;
	background-position: 247px 55px;
}

.fight-stick .a{
	background: url(https://i.imgur.com/cWtpvsa.png);
}

.fight-stick .x{
	background: url(https://i.imgur.com/0jRLhiP.png);
}

.fight-stick .y{
	background: url(https://i.imgur.com/q4xGbFQ.png);
}

.fight-stick .bumper.right{
	background: url(https://i.imgur.com/zKyqH4z.png);
}

.fight-stick .bumper.pressed {
	transform: translateY(5px);
	-webkit-filter: invert(45%);
}

.fight-stick .button.pressed {
	transform: translateY(5px);
	-webkit-filter: invert(45%);
}

.fight-stick .arrows {
	display: none;
}

.fight-stick .quadrant {
	display: none;
}

.fight-stick .b {
	display: none;
}

.fight-stick .bumper.left {
	display: none;
}

.fight-stick .trigger-button.left {
	display: none;
}

.fight-stick .trigger-button.right {
	display: none;
}

