.controller.fight-stick {
	background: url(https://mts-13.github.io/spikeout/base-astro.png) center no-repeat;
	background-position: 247px 55px;
}

/* .fight-stick .a {
	background: url(https://mts-13.github.io/spikeout/button-astro.png);
}

.fight-stick .x {
	background: url(https://mts-13.github.io/spikeout/button-astro.png);
}

.fight-stick .y {
	background: url(https://mts-13.github.io/spikeout/button-astro.png);
}

.fight-stick .bumper.right {
	background: url(https://mts-13.github.io/spikeout/button-astro.png);
}
 */

 /* スティックの色と位置調整 */
.fight-stick .fstick {
	top: 160px;  
	left: 230px;
	background: url(https://mts-13.github.io/spikeout/stick-astro.svgz);
}

.fight-stick .bumper {
	background: initial;
}

.fight-stick .bumper.pressed {
	background: white;
	-webkit-filter: initial;
}

.fight-stick .button {
	background: initial;
}

.fight-stick .button.pressed {
	background: white;
	-webkit-filter: initial;
}

.fight-stick .arrows {
	display: none;
}

.fight-stick .quadrant {
	display: none;
}

.fight-stick .b {
	display: none;
}

.fight-stick .bumper.left {
	display: none;
}

.fight-stick .trigger-button.left {
	display: none;
}

.fight-stick .trigger-button.right {
	display: none;
}